@import '../variables.scss';

.about-us-box {
  margin: 1rem;
  min-width: 320px;
  max-width: 400px;
  color: $textdark;
}

.about-us-box__title {
  color: $textdark;
  margin-top: 1em;
}

.person-box-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1.5rem;
}

.person-box__img {
  border-radius: 500px;
  width: 130px;
  margin: 1em 1em 0 1em;
}

.person-box__name {
  font-weight: 700;
}

.person-box__position {
  font-style: italic;
}

.about-us-box__text {
  text-align: left;
}

.about-box__title-light {
  color: $textbright;
}

.about-box__text-light {
  color: $textbright;
}

@media screen and (max-width: 677px) {
  .about-us-box__title {
    display: none;
  }
}
