.sticky-bar {
  position: sticky;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'swiss title button';
  height: 8vh;
  min-height: 60px;
  overflow: hidden;
  z-index: 100;
  background-color: black;
  padding: 0 2em;
  width: 100%;
}

.swiss-info {
  display: flex;
  height: 30px;
  align-items: center;
  grid-area: swiss;
}

.swiss-flag {
  height: 100%;
  border-radius: 500px;
  margin-right: 0.8em;
}

.swiss-title {
  color: var(--textbright);
}

.sticky-bar h3 {
  grid-area: title;
}

.cta-button {
  grid-area: button;
  border-radius: 20px;
  border: solid 2px rgba(255, 255, 255, 0.287);
  padding: 0.6em;
  width: 130px;
  justify-self: flex-end;
  margin: 0;
}

@media screen and (max-width: 915px) {
  .sticky-bar {
    grid-template-columns: 1fr;
    grid-template-areas: ' button';
  }
  .sticky-bar h3 {
    display: none;
  }

  .sticky-bar .button {
    justify-self: center;
  }
}

@media screen and (max-width: 676px) {
  .sticky-bar {
    position: fixed;
    top: auto;
    bottom: 0px;
  }
}
