@import '../variables.scss';

.sticky-bar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  top: 0;
  min-height: 60px;
  overflow: hidden;
  z-index: 100;
  background-color: black;
  padding: 0 2em;
  width: 100%;
}

.cta-button {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -18px;
  border-radius: 20px;
  background-color: rgb(149, 1, 38);
  padding: 0.6em;
  width: 130px;
  height: 35px;
  justify-self: flex-end;
}

.cta-button:hover {
  background: rgb(182, 58, 0);
  color: black;
}

@media screen and (max-width: 700px) {
  .sticky-bar h3 {
    display: none;
  }
}

@media screen and (max-width: 676px) {
  .sticky-bar {
    position: fixed;
    top: auto;
    bottom: 0px;
  }

  .cta-button {
    position: static;
    margin: 0;
  }
}
