@import '../variables.scss';

.card04-wrapper:focus {
  outline: none;
}

.card04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $card-background-color;
  width: 150px;
  height: 155px;
  box-shadow: $box-shadow02;
  border-radius: $main-border-radius;
  margin: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.card04:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease;
}

.card04-active {
  background-color: rgb(192, 192, 192);
  outline: $elegant-blue solid 4px;
}

.card04-icon {
  height: 45px;
  padding-top: 0.6em;
}

.card04 h3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0px;
  color: $textdark !important;
}

.card04 .button {
  width: 90px;
  margin: 0.2rem 0.2rem 0.8rem 0.2rem;
  padding: 0.6em;
}

@media screen and (max-width: 677px) {
  .card04 {
    width: 100px;
    height: 145px;
    margin: 0.3rem;
  }
  .card04 h3 {
    font-size: 0.78rem;
    padding: 0.2em;
    margin: 1em 0 0 0;
  }
  .card04 .button {
    width: 90px;
    margin: auto 0.2rem 0.4rem 0.2rem;
    padding: 0.4em;
  }
}
