.card04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background-color);
  width: 150px;
  box-shadow: var(--box-shadow01);
  border-radius: var(--main-border-radius);
  margin: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.card04:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease;
}

.card04-icon {
  width: 50px;
  padding: 0.2em;
}

.card04 h3 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  letter-spacing: 0px;
  color: var(--textdark) !important;
}

.card04 .button {
  width: 100px;
  margin: 0.2rem 0.2rem 0.8rem 0.2rem;
  padding: 0.7em;
}
