@import '../variables.scss';

.about-hero {
  display: flex;
  width: 100%;
  height: 92vh;
  flex-direction: column;
  background: url(../../images/Hero-Img01.jpg);
  background-color: rgb(37, 37, 37);
  color: var(--textbright);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about-hero > * {
  z-index: 1;
  position: relative;
}

.about-hero::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 0;
}

.content-section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
