.about-us-box {
  margin: 1rem;
  min-width: 320px;
  max-width: 400px;
  flex: 1;
}

.about-us-box-img-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1.5rem;
}

.about-us-box-title {
  margin-top: 1em;
}

.about-us-box-img {
  border-radius: 500px;
  width: 130px;
  margin: 1em 1em 0 1em;
}

.person-box-name {
  font-weight: 700;
}

.person-box-position {
  font-style: italic;
}

.about-us-box-text {
  text-align: left;
}

@media screen and (max-width: 855px) {
}
