.button {
  display: inline-block;
  width: 180px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--elegant-blue);
  color: white;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 0.8em;
  box-shadow: none;
  border: none;
  transition-duration: 0.4s;
  outline: none;
  margin: 1rem;
  text-decoration: none;
}

.button:hover {
  background-color: var(--main-blue-light);
  color: black;
  cursor: pointer;
}

.button:active {
  background-color: rgb(110, 139, 231);
}

/* special contact form button style */

.btn-small {
  width: 100px;
}

.contact-btn {
  margin: 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.btn-big {
  width: 150px;
  padding: 1rem;
}

.cta-button {
  grid-area: button;
  border-radius: 20px;
  border: solid 2px rgba(255, 255, 255, 0.287);
  padding: 0.6em;
  width: 130px;
  justify-self: flex-end;
  margin: 0;
}

.button-light {
  background-color: white;
  color: var(--elegant-blue);
}
