@import '../variables.scss';

.progressBar__wrapper {
  background-color: grey;
  width: 100%;
}

.progressBar {
  height: 10px;
  background: linear-gradient(90deg, #d8001dab 0%, #b37a00ca 100%);
  transition: all ease-in 0.2s;
}
