@import '../variables.scss';

.video-content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 1rem;
}

.video-content__text {
  max-width: 450px;
  text-align: left;
  font-size: 40px;
  margin: 1rem;
}

.video-content__video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.video-content__video {
  width: 480px;
  height: 269px;
  background-color: black;
  background: url('../../images/video-landing-page-thumbnail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 570px) {
  .video-content {
    padding: 0rem;
  }
  .video-content__video {
    width: 300px;
    height: 179px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .description1-img {
    /* width: 100%;*/
    margin: 0.3rem;
  }
}
