@import '../variables.scss';

.imgcontentwrapper01 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 1rem;
}

.description1 {
  max-width: 330px;
  text-align: left;
  font-size: 40px;
  margin: 0.2rem 2rem 0.2rem 2rem;
}

.description1 h3 {
  font-size: 23px;
}

.description1-img-wrapper {
  flex-direction: column;
  margin: 0.2rem 2rem 0.2rem 2rem;
}

.description1-img {
  width: 330px;
}

.wrapreverse01 {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .description1 {
    width: 300px;
  }
  .description1 h3 {
    text-align: center;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .description1-img {
    /* width: 100%;*/
    margin: 0.3rem;
  }
}
