.card01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background-color);
  width: 250px;
  box-shadow: var(--box-shadow01);
  border-radius: var(--main-border-radius);
  margin: 0.8rem;
  overflow: hidden;
}

/* Commented out because Card01 is used for icons 
.card01 img {
  width: 100%;
  height: 250px / 1.8;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  margin-bottom: 1rem;
}


.card01 img:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}*/

.card01-icon {
  width: 70px;
  padding: 0.8em 0.5em 0.5em 0.5em;
}

.card01 h3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card01 i {
  margin-top: 1rem;
}
.card01-logos-wrapper {
  background-color: var(--elegant-blue);
}
.card01-logos {
  width: 85%;
}

.card01 p {
  margin-bottom: auto;
  padding: 0.5em 1em 1em 1em;
  text-align: left;
}

.card01 ul {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: auto;
}
.card01 ul li {
  color: var(--textdark);
  padding: 0.25em;
  text-align: left;
}

.card01 .button {
  margin: 1rem 1rem 1.3rem 1rem;
}
