.card02-big {
  display: flex;
  /*flex-direction & box shadow evtl. delete when carousel*/
  flex-direction: column;
  background-color: var(--card-background-color);
  border-radius: var(--main-border-radius);
  overflow: hidden;
  margin: 0.8em;
  color: var(--textdark);
  box-shadow: var(--box-shadow01);
  border-radius: var(--main-border-radius);
  background-image: linear-gradient(
    178deg,
    var(--elegant-blue) 47%,
    var(--background-color03) calc(47% + 2px)
  );
  width: 300px;
}

.card02-big img {
  width: 130px;
  height: 130px;
  border-radius: 500px;
  object-fit: cover;
  position: relative;
  margin: 1em auto;
}

.card02-big h3 {
  text-align: center;
}

.card02-big p {
  padding: 1rem;
  text-align: left;
}
