@import '../variables.scss';

.card02 {
  display: flex;
  flex-direction: column;
  background-color: $card-background-color;
  border-radius: $main-border-radius;
  overflow: hidden;
  margin: 0.8em;
  color: $textdark;
  box-shadow: $box-shadow01;
  border-radius: $main-border-radius;
  background-image: linear-gradient(
    178deg,
    $elegant-blue 134px,
    $background-color03 calc(134px + 2px)
  );
  width: 250px;
}

.card02 img {
  width: 100px;
  height: 100px;
  border-radius: 500px;
  object-fit: cover;
  position: relative;
  margin: 1em auto;
}

.card02 .review {
  display: flex;
  justify-content: center;
}
.card02 .star-review-wrapper {
  display: flex;
}

.card02 .review-star {
  height: 20px;
  width: 20px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.card02 h3 {
  text-align: center;
}

.card02 p {
  padding: 0 0.4rem 0.8rem 0.4rem;
  text-align: left;
}

.card02 .button {
  align-self: flex-end;
}

.card02-slick {
  /* height is for slickCarousel adjustment*/
  height: 385px !important;
  width: auto !important;
  margin: 0.8em 1.1em !important;
}

.card02-big {
  width: 300px;
}
