@import '../variables.scss';

.card02 {
  display: flex;
  /*flex-direction & box shadow evtl. delete when carousel*/
  flex-direction: column;
  background-color: var(--card-background-color);
  border-radius: var(--main-border-radius);
  overflow: hidden;
  margin: 0.8em;
  color: var(--textdark);
  box-shadow: var(--box-shadow01);
  border-radius: var(--main-border-radius);
  background-image: linear-gradient(
    178deg,
    var(--elegant-blue) 37%,
    var(--background-color03) calc(37% + 2px)
  );
  width: 250px;
}

.card02 img {
  width: 100px;
  height: 100px;
  border-radius: 500px;
  object-fit: cover;
  position: relative;
  margin: 1em auto;
}

.card02 h3 {
  text-align: center;
}

.card02 p {
  padding: 1rem;
  text-align: left;
}

.card02 .button {
  align-self: flex-end;
}

.card02-slick {
  /* height is for slickCarousel adjustment*/
  height: 360px !important;
  width: auto !important;
  margin: 0.8em 1.1em !important;
}

.card02-big {
  width: 300px;
}
