@import './variables.scss';

.section {
  padding: 1.8rem;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  position: relative;
  color: $textdark;
  background-color: $background-color02;
}

.section01 {
  background-image: linear-gradient(
    178deg,
    $background-color03 92%,
    $background-color02 calc(93% + 2px)
  );
  padding-bottom: 60px;
}

.section02 {
  background-image: linear-gradient(
    178deg,
    $background-color02 88%,
    $background-color03 calc(89% + 2px)
  );
  padding-top: 0;
  padding-bottom: 80px;
}

.section03 {
  background-image: linear-gradient(
    178.5deg,
    $background-color03 89%,
    $elegant-blue-soft-light calc(89% + 2px)
  );
  padding-top: 0;
  padding-bottom: 80px;
}
.section04 {
  padding-top: 0;
  background-color: $elegant-blue-soft-light;
}

.section05 {
  background-image: linear-gradient(
    178.5deg,
    $elegant-blue 27%,
    $background-color02 calc(27% + 2px)
  );
}

.section06 {
  background-image: linear-gradient(
    178deg,
    $background-color02 26%,
    $elegant-blue-soft-light calc(26% + 2px)
  );
}

.section07 {
  padding-top: 0;
  padding-bottom: 2em;
}

.section08 {
  background-image: linear-gradient(
    178deg,
    $background-color03 85%,
    $background-color02 calc(86% + 2px)
  );
  padding-bottom: 80px;
}

.section-light-color {
  background-color: $background-color03;
}

.single-page-section {
  min-height: 92vh;
}

.slim-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
}

.section-light-color {
  background-color: $background-color03;
}

.section-elegant-blue {
  background-color: $elegant-blue;
}

.project-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: $background-color02;
  padding: 0.6rem 1.8rem 70px 1.8rem;
  background-image: linear-gradient(
    178deg,
    $background-color02 88%,
    $background-color03 calc(89% + 2px)
  );
}

.hide-spacer {
  display: none;
}

.show-spacer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 20vh;
  background-color: $background-color02;
}

.spacer-our-work {
  height: 20px;
}

.pure-text-section {
  margin: 0 auto;
  max-width: 800px;
}

@media screen and (max-width: 677px) {
  .section {
    padding: 1.8rem 0.5rem;
  }

  .slim-section {
    padding: 0.5rem;
  }

  .section03 {
    background-image: linear-gradient(
      178.5deg,
      $background-color03 92%,
      $elegant-blue-soft-light calc(92% + 2px)
    );
  }

  .project-section {
    padding: 0.6rem 1.8rem 0 1.8rem;
    background-image: linear-gradient(
      178deg,
      $background-color02 98%,
      $background-color03 calc(99% + 2px)
    );
  }
}
