/* only used for button hover*/
$main-blue-light: rgb(23, 105, 199);

$elegant-blue: #182a3b;
$elegant-blue-soft-light: #20384e;
$background-color02: #e2e2e2;
$background-color03: rgb(241, 241, 241);
$textbright: #e9e9e9;
$textdark: rgb(26, 26, 26);
$highlightcolor01: #e05a00;
$card-background-color: rgb(245, 245, 245);
$box-shadow01: 8px 12px 24px #c9c9c9, -12px -12px 24px #f5f5f5;
$drop-shadow01: drop-shadow(0em 0.3em 0.5rem rgba(0, 0, 0, 0.534));
$main-border-radius: 5px;
