@import '../../components/variables.scss';

.cards01 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.8rem;
  color: $textdark;
}

.cards04 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.8rem;
  color: $textdark;
}

@media screen and (max-width: 677px) {
  .cards04 {
    margin: 0;
    width: 100%;
  }
}
