.section {
  padding: 1.8rem;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  position: relative;
  color: var(--textdark);
}

.section01 {
  background-image: linear-gradient(
    178deg,
    var(--background-color02) 35%,
    var(--background-color03) calc(36% + 2px)
  );
}

.section02 {
  padding-top: 0;
}

.section03 {
  background-image: linear-gradient(
    178deg,
    var(--background-color03) 92%,
    var(--background-color02) calc(93% + 2px)
  );
}
.section04 {
  background-image: linear-gradient(
    178deg,
    var(--background-color03) 26%,
    var(--elegant-blue) calc(26% + 2px)
  );
}

.section05 {
  background-image: linear-gradient(
    178deg,
    var(--elegant-blue) 27%,
    var(--background-color02) calc(27% + 2px)
  );
}

.single-page-section {
  min-height: 92vh;
}

.slim-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
}

.section-light-color {
  background-color: var(--background-color03);
}

.section-elegant-blue {
  background-color: var(--elegant-blue);
}

.project-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: var(--background-color02);
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
}

.hide-spacer {
  display: none;
}

.show-spacer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 20vh;
  background-color: var(--background-color02);
}

.spacer-our-work {
  height: 20px;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0.6rem;
  }
}

@media screen and (max-width: 595px) {
  .section01 {
    background-image: linear-gradient(
      178deg,
      var(--background-color02) 15%,
      rgb(241, 241, 241) calc(16% + 2px)
    );
  }
  .section03 {
    background-image: linear-gradient(
      178deg,
      rgb(241, 241, 241) 96%,
      var(--background-color02) calc(97% + 2px)
    );
  }
}
