.card03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 0.8rem;
  overflow: hidden;
}

.card03-img {
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  filter: var(--drop-shadow01);
}

.card03-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-background-color);
  border-radius: var(--main-border-radius);
  padding: 0.7em;
  height: 320px;
  overflow: hidden;
  position: relative;
}

.card03-icons {
  width: 120px;
}

.card03 p {
  text-align: left;
}

.card03 .button {
  position: absolute;
  width: 180px;
  bottom: 0;
  right: 50%;
  margin-right: -90px;
}

@media screen and (max-width: 650px) {
  .card03-info {
    height: auto;
  }
  .card03 .button {
    position: static;
    width: 180px;

    margin-right: 1em;
  }
}
