.card03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 0.8rem;
  overflow: hidden;
}

.card03-img {
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  filter: var(--drop-shadow01);
}

.card03-info {
  background-color: var(--card-background-color);
  border-radius: var(--main-border-radius);
  padding: 0.7em;
  height: 320px;
  overflow: hidden;
}

.card03-icons {
  width: 120px;
}

.card03 p {
  text-align: left;
}

.card03 .button {
}

@media screen and (max-width: 500px) {
  .card03 {
    width: 80%;
  }
}
