@import '../variables.scss';

.footer {
  display: flex;
  justify-content: space-around;
  min-height: 200px;
  color: $textbright;
  background-color: black;
  padding: 1em;
  position: relative;
}

.footer-title {
  text-align: center;
}

.footer-column01 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-column02 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-info {
  display: flex;
  align-items: center;
  margin: 0.4em;
}

.country-flag {
  width: 22px;
  height: 22px;
  border-radius: 500px;
  margin-right: 0.4em;
}

.footer-sub-title {
  text-align: center;
  padding-bottom: 0.2em;
}

.footer-link {
  color: $textbright;
  text-align: center;
}

.footer-social-media-icon {
  width: 40px;
  margin: 10px;
}

.footer-privacy {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.footer-privacy-text {
  color: rgb(122, 122, 122);
  text-decoration: none;
  text-align: right;
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
    padding: 0;
  }

  .footer-column01 {
    background-color: rgb(42, 42, 42);
    padding: 0.7em;
  }
  .footer-column02 {
    background-color: rgb(29, 29, 29);
    padding: 0.7em;
  }
  .footer-column03 {
    padding: 0.7em;

    background-color: black;
  }

  .footer-privacy {
    position: relative;
    bottom: 0px;
    right: 0px;
    margin: 2em;
  }
}
