* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  min-width: 360px;
  background-color: var(--background-color02);
}

:root {
  --main-blue: #160091;
  --main-blue-light: rgb(23, 105, 199);
  --space-blue: #0f0c22;
  --elegant-blue: #182a3b;
  --background-color01: rgb(233, 233, 233);
  --background-color02: #e2e2e2;
  --background-color03: rgb(241, 241, 241);
  --textbright: rgb(233, 233, 233);
  --textdark: rgb(26, 26, 26);
  --highlightcolor01: #e05a00;
  --card-background-color: rgb(245, 245, 245);
  --radial-background01: radial-gradient(rgba(43, 55, 96, 1), rgb(6, 12, 32));
  --box-shadow01: 8px 12px 24px #c9c9c9, -12px -12px 24px #f5f5f5;
  --drop-shadow01: drop-shadow(0em 0.3em 0.5rem rgba(0, 0, 0, 0.534));
  --main-border-radius: 5px;
}

@media screen and (max-width: 768px) {
}
