body,
label,
input,
textarea {
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin: 0.3rem;
  letter-spacing: 3px;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0.7rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.3rem;
  letter-spacing: 2px;
}

h4 {
  font-size: 1rem;
  line-height: 1.6;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

p,
span {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 1.5px;
  margin: 0.3rem;
}

input,
textarea {
  font-size: 1rem;
}

.darktext {
  color: var(--textdark);
}

.email-link {
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}

/*----Title01----*/
.title01 {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--textbright);
  text-align: center;
}

.title01::before,
.title01::after {
  content: '';
  width: 20px;
  height: 3px;
  margin: 0.7rem;
}
.title01::before {
  background-color: rgb(255, 102, 0);
}
.title01::after {
  background-color: rgb(20, 160, 20);
}

@media screen and (max-width: 768px) {
  .title01 {
    font-size: 1.2rem;
  }

  .title01::before,
  .title01::after {
    width: 20px;
  }
}
/*----Title02----*/
@media screen and (max-width: 768px) {
  .title02 {
    font-size: 2.5rem;
  }
}
/*----Title03----*/
.title03 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--textdark);
  text-align: center;
  margin: 0.5em;
}

.title03::before,
.title03::after {
  content: '';
  background-color: var(--textdark);
  width: 25px;
  height: 3px;
  margin: 0.7rem;
}

@media screen and (max-width: 768px) {
  .title03 {
    font-size: 1.7rem;
  }

  .title03::before,
  .title03::after {
    width: 10px;
  }
}

/*----Title04----*/
.title04-wrapper {
  display: flex;
  justify-content: center;
  width: 200px;
  text-align: center;
  align-content: center;
  margin: auto;
  padding: 0.5rem;
}

.title04 {
  color: var(--textdark);
}

/*----Title05----*/

.title05 {
  display: flex;
  font-size: 25px;
  justify-content: flex-start;
  align-items: center;
}

.title05::before {
  content: '';
  width: 4px;
  height: 30px;
  margin: 0 0.7rem 0 0;
}
.title05::before {
  background-color: rgb(255, 102, 0);
}

/*----Title06----*/

.title06 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textbright);
  text-align: center;
}

.title06::before,
.title06::after {
  content: '';
  width: 20px;
  height: 4px;
  margin: 0.7rem;
}
.title06::before {
  background-color: rgb(255, 102, 0);
}
.title06::after {
  background-color: rgb(20, 160, 20);
}

/*----Title07----*/
@media screen and (max-width: 501px) {
  .title07 {
    display: none;
  }
}
