.burger {
  display: none;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.burger div {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 5px;
  position: absolute;
  transition: all 0.3s;
  left: 50%;
  margin-left: -15px;
  z-index: 30;
}

.line1 {
  top: 0%;
}

.line2 {
  top: 33%;
}
.line3 {
  top: 66%;
}

@media (max-width: 855px) {
  .burger {
    display: block;
  }

  .burger-active .line1 {
    transform: rotate(45deg);
    top: 33%;
  }

  .burger-active .line2,
  .burger-active .line3 {
    transform: rotate(-45deg);
    top: 33%;
  }
}
