@import '../variables.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  height: 8vh;
  /* if min-height changed then also change single-page-section02 class & hero*/
  background-color: black;
  padding: 0 2em;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 3;
}

header img {
  width: 40px;
}

.logo-desc {
  font-weight: 800;
  color: white;
  padding-left: 0.3em;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  text-align: center;
}

.nav-links li {
  margin: 20px;
  list-style: none;
}

.nav-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(206, 206, 206);
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color 0.3s ease-in;
  padding-bottom: 4px;
}

/* Link Details*/

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out 0s;
}

.nav-link:focus::before,
.nav-link:hover::before {
  background-color: $highlightcolor01;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-active-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: $highlightcolor01;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media screen and (max-width: 855px) {
  .nav {
    justify-content: space-between;
    padding: 0 30px 0 30px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 270px;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in;
    z-index: 2;
    justify-content: flex-start;
  }

  .nav-active {
    transform: scale(1, 1);
  }
}
