@import '../variables.scss';

.hero01 {
  display: flex;
  width: 100%;
  height: 84vh;
  flex-direction: column;
  background: linear-gradient(rgb(59, 0, 32), rgb(12, 0, 47));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../images/hero.jpg');
  background-position: right bottom;
  color: $textbright;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content-section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-spacer {
  width: 10vw;
}

@media screen and (max-width: 948px) {
  .hero01 {
    background-position: center bottom;
  }
}
@media screen and (max-width: 648px) {
  .hero01 {
    height: 77vh;
    padding: 0.8em;
    background: linear-gradient(rgb(59, 0, 32), rgb(12, 0, 47));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../images/hero-mobile.jpg');
    background-position: center bottom;
    background-size: cover;
  }

  .content-section1 {
    margin-bottom: 4em;
  }
}
