@import '../variables.scss';

.hero01 {
  display: flex;
  width: 100%;
  height: 84vh;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../images/Hero-Img01.jpg');
  background-position: center top;
  background-color: rgb(37, 37, 37);
  color: $textbright;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero01 > * {
  z-index: 1;
  position: relative;
}

.hero01::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 0;
}

.content-section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-spacer {
  width: 10vw;
}

@media screen and (max-width: 768px) {
  .hero01 {
    height: 85vh;
  }
}
