@import '../variables.scss';

.hero01 {
  display: flex;
  width: 100%;
  height: 84vh;
  flex-direction: column;
  background: url('../../images/hero.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../images/hero.jpg');
  background-position: right top;
  background-color: rgb(37, 37, 37);
  color: $textbright;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content-section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-spacer {
  width: 10vw;
}

@media screen and (max-width: 677px) {
  .hero01 {
    height: 75vh;
    background-position: center bottom;
    padding: 0.8em;
  }

  .content-section1 {
    margin-bottom: 4em;
  }
}
